*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

p, h1 {
	margin-left: 20px;
	margin-bottom: 20px;
}

.signup, .login, .logout, .login-or, .socialaccount_provider{
	margin-left: 40px;
	margin-right: 40px;
	
}

a.socialaccount_provider{
	background-color: green;
	color: white;
	padding: 5px;
}

.primaryAction{
	background-color: #0D47A1;
	color: white;
	padding: 5px;
}

button{
	background-color: red;
	color: white;
	padding: 5px;
	margin-left: 20px;
}

.sidenav {
	width: 250px;
}

.modal {
	background-color: transparent;
	height: auto;
}

a {
	text-decoration: none;
}

.badge {
	position: relative;
	top: 10px;
	right: 35px;
	z-index: 100;
}

.social {
	font-size: 30px;
}

.brand-logo {
	margin-left: 20px;
}

a {
	font-size: 12px;
}

.sidenav li a {
	font-size: 20px;
}

.social-icons {
	margin-left: 20px;
}

/*Extra small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}